In [106]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.functions import unix_timestamp, from_unixtime

In [107]:
spark = SparkSession.builder.getOrCreate()

In [108]:
df = spark.read.csv("biostats.csv", inferSchema=True,
                   header=True)

In [109]:
df.show()

+----+--------+---+------+------+----------+----------------+
|Name|  Gender|Age|Height|Weight|      Date|        DateTime|
+----+--------+---+------+------+----------+----------------+
|Alex|       M| 41|    74|   170|25-10-2021|14-04-2021 00:37|
|Bert|       M| 42|    68|   166|26-10-2021|24-01-2021 00:03|
|Carl|       M| 32|    70|   155|28-10-2021|14-09-2021 15:11|
|Dave|       M| 39|    72|   167|29-10-2021|19-04-2021 10:27|
|Elly|       F| 30|    66|   124|05-11-2021|21-06-2021 08:14|
|Fran|       F| 33|    66|   115|12-11-2021|25-02-2021 15:18|
|Gwen|       F| 26|    64|   121|17-11-2021|18-04-2021 18:18|
|Hank|       M| 30|    71|   158|19-11-2021|05-09-2021 14:55|
|Ivan|       M| 53|    72|   175|24-11-2021|12-08-2021 10:10|
|Jake|       M| 32|    69|   143|29-11-2021|03-05-2021 11:52|
|Kate|       F| 47|    69|   139|30-11-2021|10-09-2021 13:59|
|Luke|       M| 34|    72|   163|02-12-2021|24-04-2021 03:01|
|Myra|       F| 23|    62|    98|08-12-2021|01-05-2021 16:33|
|Neil|       M| 36|    75|   160|14-12-2021|08-02-2021 10:19|
|Omar|       M| 38|    70|   145|20-12-2021|03-02-2021 01:56|
|Page|       F| 31|    67|   135|21-12-2021|06-01-2021 03:34|
|Quin|       M| 29|    71|   176|23-12-2021|23-08-2021 21:59|
|Ruth|       F| 28|    65|   131|24-12-2021|08-04-2021 07:21|
+----+--------+---+------+------+----------+----------------+

In [110]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Height: integer (nullable = true)
 |-- Weight: integer (nullable = true)
 |-- Date: string (nullable = true)
 |-- DateTime: string (nullable = true)

In [111]:
df.withColumn("current_date",F.current_date()).show()

+----+--------+---+------+------+----------+----------------+------------+
|Name|  Gender|Age|Height|Weight|      Date|        DateTime|current_date|
+----+--------+---+------+------+----------+----------------+------------+
|Alex|       M| 41|    74|   170|25-10-2021|14-04-2021 00:37|  2021-10-22|
|Bert|       M| 42|    68|   166|26-10-2021|24-01-2021 00:03|  2021-10-22|
|Carl|       M| 32|    70|   155|28-10-2021|14-09-2021 15:11|  2021-10-22|
|Dave|       M| 39|    72|   167|29-10-2021|19-04-2021 10:27|  2021-10-22|
|Elly|       F| 30|    66|   124|05-11-2021|21-06-2021 08:14|  2021-10-22|
|Fran|       F| 33|    66|   115|12-11-2021|25-02-2021 15:18|  2021-10-22|
|Gwen|       F| 26|    64|   121|17-11-2021|18-04-2021 18:18|  2021-10-22|
|Hank|       M| 30|    71|   158|19-11-2021|05-09-2021 14:55|  2021-10-22|
|Ivan|       M| 53|    72|   175|24-11-2021|12-08-2021 10:10|  2021-10-22|
|Jake|       M| 32|    69|   143|29-11-2021|03-05-2021 11:52|  2021-10-22|
|Kate|       F| 47|    69|   139|30-11-2021|10-09-2021 13:59|  2021-10-22|
|Luke|       M| 34|    72|   163|02-12-2021|24-04-2021 03:01|  2021-10-22|
|Myra|       F| 23|    62|    98|08-12-2021|01-05-2021 16:33|  2021-10-22|
|Neil|       M| 36|    75|   160|14-12-2021|08-02-2021 10:19|  2021-10-22|
|Omar|       M| 38|    70|   145|20-12-2021|03-02-2021 01:56|  2021-10-22|
|Page|       F| 31|    67|   135|21-12-2021|06-01-2021 03:34|  2021-10-22|
|Quin|       M| 29|    71|   176|23-12-2021|23-08-2021 21:59|  2021-10-22|
|Ruth|       F| 28|    65|   131|24-12-2021|08-04-2021 07:21|  2021-10-22|
+----+--------+---+------+------+----------+----------------+------------+

In [80]:
df.withColumn("current_date",F.current_timestamp()).show()

+----+--------+---+------+------+----------+----------------+--------------------+
|Name|  Gender|Age|Height|Weight|      Date|        DateTime|        current_date|
+----+--------+---+------+------+----------+----------------+--------------------+
|Alex|       M| 41|    74|   170|25-10-2021|14-04-2021 00:37|2021-10-22 22:18:...|
|Bert|       M| 42|    68|   166|26-10-2021|24-01-2021 00:03|2021-10-22 22:18:...|
|Carl|       M| 32|    70|   155|28-10-2021|14-09-2021 15:11|2021-10-22 22:18:...|
|Dave|       M| 39|    72|   167|29-10-2021|19-04-2021 10:27|2021-10-22 22:18:...|
|Elly|       F| 30|    66|   124|05-11-2021|21-06-2021 08:14|2021-10-22 22:18:...|
|Fran|       F| 33|    66|   115|12-11-2021|25-02-2021 15:18|2021-10-22 22:18:...|
|Gwen|       F| 26|    64|   121|17-11-2021|18-04-2021 18:18|2021-10-22 22:18:...|
|Hank|       M| 30|    71|   158|19-11-2021|05-09-2021 14:55|2021-10-22 22:18:...|
|Ivan|       M| 53|    72|   175|24-11-2021|12-08-2021 10:10|2021-10-22 22:18:...|
|Jake|       M| 32|    69|   143|29-11-2021|03-05-2021 11:52|2021-10-22 22:18:...|
|Kate|       F| 47|    69|   139|30-11-2021|10-09-2021 13:59|2021-10-22 22:18:...|
|Luke|       M| 34|    72|   163|02-12-2021|24-04-2021 03:01|2021-10-22 22:18:...|
|Myra|       F| 23|    62|    98|08-12-2021|01-05-2021 16:33|2021-10-22 22:18:...|
|Neil|       M| 36|    75|   160|14-12-2021|08-02-2021 10:19|2021-10-22 22:18:...|
|Omar|       M| 38|    70|   145|20-12-2021|03-02-2021 01:56|2021-10-22 22:18:...|
|Page|       F| 31|    67|   135|21-12-2021|06-01-2021 03:34|2021-10-22 22:18:...|
|Quin|       M| 29|    71|   176|23-12-2021|23-08-2021 21:59|2021-10-22 22:18:...|
|Ruth|       F| 28|    65|   131|24-12-2021|08-04-2021 07:21|2021-10-22 22:18:...|
+----+--------+---+------+------+----------+----------------+--------------------+

In [13]:
df.withColumn("current_date",F.current_timestamp()).show(truncate=False)

+----+-----------+----+------+------+----------+----------------+--------------------------+
|Name|     Gender| Age|Height|Weight|Date      |DateTime        |current_date              |
+----+-----------+----+------+------+----------+----------------+--------------------------+
|Alex|       M   |41  |74    |170   |25-10-2021|21-03-2021 01:52|2021-10-22 21:34:55.935163|
|Bert|       M   |42  |68    |166   |26-10-2021|11-02-2021 18:18|2021-10-22 21:34:55.935163|
|Carl|       M   |32  |70    |155   |28-10-2021|07-02-2021 14:27|2021-10-22 21:34:55.935163|
|Dave|       M   |39  |72    |167   |29-10-2021|15-04-2021 13:07|2021-10-22 21:34:55.935163|
|Elly|       F   |30  |66    |124   |05-11-2021|16-08-2021 14:21|2021-10-22 21:34:55.935163|
|Fran|       F   |33  |66    |115   |12-11-2021|27-02-2021 00:35|2021-10-22 21:34:55.935163|
|Gwen|       F   |26  |64    |121   |17-11-2021|14-09-2021 19:05|2021-10-22 21:34:55.935163|
|Hank|       M   |30  |71    |158   |19-11-2021|01-09-2021 00:00|2021-10-22 21:34:55.935163|
|Ivan|       M   |53  |72    |175   |24-11-2021|29-03-2021 07:32|2021-10-22 21:34:55.935163|
|Jake|       M   |32  |69    |143   |29-11-2021|14-01-2021 20:37|2021-10-22 21:34:55.935163|
|Kate|       F   |47  |69    |139   |30-11-2021|05-01-2021 22:51|2021-10-22 21:34:55.935163|
|Luke|       M   |34  |72    |163   |02-12-2021|11-09-2021 12:01|2021-10-22 21:34:55.935163|
|Myra|       F   |23  |62    |98    |08-12-2021|04-02-2021 01:23|2021-10-22 21:34:55.935163|
|Neil|       M   |36  |75    |160   |14-12-2021|24-03-2021 16:53|2021-10-22 21:34:55.935163|
|Omar|       M   |38  |70    |145   |20-12-2021|07-03-2021 23:59|2021-10-22 21:34:55.935163|
|Page|       F   |31  |67    |135   |21-12-2021|03-07-2021 04:43|2021-10-22 21:34:55.935163|
|Quin|       M   |29  |71    |176   |23-12-2021|15-05-2021 16:43|2021-10-22 21:34:55.935163|
|Ruth|       F   |28  |65    |131   |24-12-2021|18-06-2021 11:55|2021-10-22 21:34:55.935163|
+----+-----------+----+------+------+----------+----------------+--------------------------+

In [81]:
df.show()

+----+--------+---+------+------+----------+----------------+
|Name|  Gender|Age|Height|Weight|      Date|        DateTime|
+----+--------+---+------+------+----------+----------------+
|Alex|       M| 41|    74|   170|25-10-2021|14-04-2021 00:37|
|Bert|       M| 42|    68|   166|26-10-2021|24-01-2021 00:03|
|Carl|       M| 32|    70|   155|28-10-2021|14-09-2021 15:11|
|Dave|       M| 39|    72|   167|29-10-2021|19-04-2021 10:27|
|Elly|       F| 30|    66|   124|05-11-2021|21-06-2021 08:14|
|Fran|       F| 33|    66|   115|12-11-2021|25-02-2021 15:18|
|Gwen|       F| 26|    64|   121|17-11-2021|18-04-2021 18:18|
|Hank|       M| 30|    71|   158|19-11-2021|05-09-2021 14:55|
|Ivan|       M| 53|    72|   175|24-11-2021|12-08-2021 10:10|
|Jake|       M| 32|    69|   143|29-11-2021|03-05-2021 11:52|
|Kate|       F| 47|    69|   139|30-11-2021|10-09-2021 13:59|
|Luke|       M| 34|    72|   163|02-12-2021|24-04-2021 03:01|
|Myra|       F| 23|    62|    98|08-12-2021|01-05-2021 16:33|
|Neil|       M| 36|    75|   160|14-12-2021|08-02-2021 10:19|
|Omar|       M| 38|    70|   145|20-12-2021|03-02-2021 01:56|
|Page|       F| 31|    67|   135|21-12-2021|06-01-2021 03:34|
|Quin|       M| 29|    71|   176|23-12-2021|23-08-2021 21:59|
|Ruth|       F| 28|    65|   131|24-12-2021|08-04-2021 07:21|
+----+--------+---+------+------+----------+----------------+

In [112]:
df2= df.select(
    'Date', 
    from_unixtime(unix_timestamp('Date', 'dd-MM-yyyy')).alias('newdate')
)

In [113]:
df2.show()

+----------+-------------------+
|      Date|            newdate|
+----------+-------------------+
|25-10-2021|2021-10-25 00:00:00|
|26-10-2021|2021-10-26 00:00:00|
|28-10-2021|2021-10-28 00:00:00|
|29-10-2021|2021-10-29 00:00:00|
|05-11-2021|2021-11-05 00:00:00|
|12-11-2021|2021-11-12 00:00:00|
|17-11-2021|2021-11-17 00:00:00|
|19-11-2021|2021-11-19 00:00:00|
|24-11-2021|2021-11-24 00:00:00|
|29-11-2021|2021-11-29 00:00:00|
|30-11-2021|2021-11-30 00:00:00|
|02-12-2021|2021-12-02 00:00:00|
|08-12-2021|2021-12-08 00:00:00|
|14-12-2021|2021-12-14 00:00:00|
|20-12-2021|2021-12-20 00:00:00|
|21-12-2021|2021-12-21 00:00:00|
|23-12-2021|2021-12-23 00:00:00|
|24-12-2021|2021-12-24 00:00:00|
+----------+-------------------+

In [99]:
df2.printSchema()

root
 |-- Date: string (nullable = true)
 |-- newdate: string (nullable = true)

In [37]:
# Returns the date that is days days after start

In [100]:
df2.select(F.date_add(df2.newdate, 1).alias('next_date')).show()

+----------+
| next_date|
+----------+
|2021-10-26|
|2021-10-27|
|2021-10-29|
|2021-10-30|
|2021-11-06|
|2021-11-13|
|2021-11-18|
|2021-11-20|
|2021-11-25|
|2021-11-30|
|2021-12-01|
|2021-12-03|
|2021-12-09|
|2021-12-15|
|2021-12-21|
|2021-12-22|
|2021-12-24|
|2021-12-25|
+----------+

In [104]:
df2.select(F.date_add(df2.newdate, 2).alias('next_date')).show()

+----------+
| next_date|
+----------+
|2021-10-27|
|2021-10-28|
|2021-10-30|
|2021-10-31|
|2021-11-07|
|2021-11-14|
|2021-11-19|
|2021-11-21|
|2021-11-26|
|2021-12-01|
|2021-12-02|
|2021-12-04|
|2021-12-10|
|2021-12-16|
|2021-12-22|
|2021-12-23|
|2021-12-25|
|2021-12-26|
+----------+

In [44]:
# date_sub : Returns the date that is days days before start

In [105]:
df2.select(F.date_sub(df2.newdate, 1).alias('prev_date')).show()

+----------+
| prev_date|
+----------+
|2021-10-24|
|2021-10-25|
|2021-10-27|
|2021-10-28|
|2021-11-04|
|2021-11-11|
|2021-11-16|
|2021-11-18|
|2021-11-23|
|2021-11-28|
|2021-11-29|
|2021-12-01|
|2021-12-07|
|2021-12-13|
|2021-12-19|
|2021-12-20|
|2021-12-22|
|2021-12-23|
+----------+

In [40]:
#Converts a date/timestamp/string to a value of string in the format specified by the date format given by the second argument.

In [115]:
df2.select(F.date_format('newdate', 'MM/dd/yyyy').alias('date')).show()

+----------+
|      date|
+----------+
|10/25/2021|
|10/26/2021|
|10/28/2021|
|10/29/2021|
|11/05/2021|
|11/12/2021|
|11/17/2021|
|11/19/2021|
|11/24/2021|
|11/29/2021|
|11/30/2021|
|12/02/2021|
|12/08/2021|
|12/14/2021|
|12/20/2021|
|12/21/2021|
|12/23/2021|
|12/24/2021|
+----------+

In [45]:
# date_trunc: Returns timestamp truncated to the unit specified by the format.

In [52]:
df1.select(F.date_trunc('mon', df1.current_date).alias('mon')).show()

+-------------------+
|                mon|
+-------------------+
|2021-10-01 00:00:00|
|2021-10-01 00:00:00|
|2021-10-01 00:00:00|
|2021-10-01 00:00:00|
|2021-10-01 00:00:00|
|2021-10-01 00:00:00|
|2021-10-01 00:00:00|
|2021-10-01 00:00:00|
|2021-10-01 00:00:00|
|2021-10-01 00:00:00|
|2021-10-01 00:00:00|
|2021-10-01 00:00:00|
|2021-10-01 00:00:00|
|2021-10-01 00:00:00|
|2021-10-01 00:00:00|
|2021-10-01 00:00:00|
|2021-10-01 00:00:00|
|2021-10-01 00:00:00|
+-------------------+

In [48]:
df1.show()

+----+-----------+----+------+------+------------+
|Name|     Gender| Age|Height|Weight|current_date|
+----+-----------+----+------+------+------------+
|Alex|          M|  41|    74|   170|  2021-10-09|
|Bert|          M|  42|    68|   166|  2021-10-09|
|Carl|          M|  32|    70|   155|  2021-10-09|
|Dave|          M|  39|    72|   167|  2021-10-09|
|Elly|          F|  30|    66|   124|  2021-10-09|
|Fran|          F|  33|    66|   115|  2021-10-09|
|Gwen|          F|  26|    64|   121|  2021-10-09|
|Hank|          M|  30|    71|   158|  2021-10-09|
|Ivan|          M|  53|    72|   175|  2021-10-09|
|Jake|          M|  32|    69|   143|  2021-10-09|
|Kate|          F|  47|    69|   139|  2021-10-09|
|Luke|          M|  34|    72|   163|  2021-10-09|
|Myra|          F|  23|    62|    98|  2021-10-09|
|Neil|          M|  36|    75|   160|  2021-10-09|
|Omar|          M|  38|    70|   145|  2021-10-09|
|Page|          F|  31|    67|   135|  2021-10-09|
|Quin|          M|  29|    71|   176|  2021-10-09|
|Ruth|          F|  28|    65|   131|  2021-10-09|
+----+-----------+----+------+------+------------+

In [116]:
df2 = df2.withColumn("current_date",F.current_timestamp())

In [117]:
df2.show()

+----------+-------------------+--------------------+
|      Date|            newdate|        current_date|
+----------+-------------------+--------------------+
|25-10-2021|2021-10-25 00:00:00|2021-10-22 22:49:...|
|26-10-2021|2021-10-26 00:00:00|2021-10-22 22:49:...|
|28-10-2021|2021-10-28 00:00:00|2021-10-22 22:49:...|
|29-10-2021|2021-10-29 00:00:00|2021-10-22 22:49:...|
|05-11-2021|2021-11-05 00:00:00|2021-10-22 22:49:...|
|12-11-2021|2021-11-12 00:00:00|2021-10-22 22:49:...|
|17-11-2021|2021-11-17 00:00:00|2021-10-22 22:49:...|
|19-11-2021|2021-11-19 00:00:00|2021-10-22 22:49:...|
|24-11-2021|2021-11-24 00:00:00|2021-10-22 22:49:...|
|29-11-2021|2021-11-29 00:00:00|2021-10-22 22:49:...|
|30-11-2021|2021-11-30 00:00:00|2021-10-22 22:49:...|
|02-12-2021|2021-12-02 00:00:00|2021-10-22 22:49:...|
|08-12-2021|2021-12-08 00:00:00|2021-10-22 22:49:...|
|14-12-2021|2021-12-14 00:00:00|2021-10-22 22:49:...|
|20-12-2021|2021-12-20 00:00:00|2021-10-22 22:49:...|
|21-12-2021|2021-12-21 00:00:00|2021-10-22 22:49:...|
|23-12-2021|2021-12-23 00:00:00|2021-10-22 22:49:...|
|24-12-2021|2021-12-24 00:00:00|2021-10-22 22:49:...|
+----------+-------------------+--------------------+

In [118]:
df2.select(F.datediff(df2.newdate, df2.current_date).alias('date_diff')).show()

+---------+
|date_diff|
+---------+
|        3|
|        4|
|        6|
|        7|
|       14|
|       21|
|       26|
|       28|
|       33|
|       38|
|       39|
|       41|
|       47|
|       53|
|       59|
|       60|
|       62|
|       63|
+---------+

In [119]:
df2.select(F.last_day(df2.newdate).alias('date')).show()

+----------+
|      date|
+----------+
|2021-10-31|
|2021-10-31|
|2021-10-31|
|2021-10-31|
|2021-11-30|
|2021-11-30|
|2021-11-30|
|2021-11-30|
|2021-11-30|
|2021-11-30|
|2021-11-30|
|2021-12-31|
|2021-12-31|
|2021-12-31|
|2021-12-31|
|2021-12-31|
|2021-12-31|
|2021-12-31|
+----------+

In [53]:
# datediff:Returns the number of days from start to end.

In [ ]:
df.select(datediff(df.d2, df.d1).alias('diff')).collect()

In [57]:
df2 = df1.withColumn("next_date", F.date_add(df1.current_date, 2))

In [58]:
df2.show()

+----+-----------+----+------+------+------------+----------+
|Name|     Gender| Age|Height|Weight|current_date| next_date|
+----+-----------+----+------+------+------------+----------+
|Alex|          M|  41|    74|   170|  2021-10-09|2021-10-11|
|Bert|          M|  42|    68|   166|  2021-10-09|2021-10-11|
|Carl|          M|  32|    70|   155|  2021-10-09|2021-10-11|
|Dave|          M|  39|    72|   167|  2021-10-09|2021-10-11|
|Elly|          F|  30|    66|   124|  2021-10-09|2021-10-11|
|Fran|          F|  33|    66|   115|  2021-10-09|2021-10-11|
|Gwen|          F|  26|    64|   121|  2021-10-09|2021-10-11|
|Hank|          M|  30|    71|   158|  2021-10-09|2021-10-11|
|Ivan|          M|  53|    72|   175|  2021-10-09|2021-10-11|
|Jake|          M|  32|    69|   143|  2021-10-09|2021-10-11|
|Kate|          F|  47|    69|   139|  2021-10-09|2021-10-11|
|Luke|          M|  34|    72|   163|  2021-10-09|2021-10-11|
|Myra|          F|  23|    62|    98|  2021-10-09|2021-10-11|
|Neil|          M|  36|    75|   160|  2021-10-09|2021-10-11|
|Omar|          M|  38|    70|   145|  2021-10-09|2021-10-11|
|Page|          F|  31|    67|   135|  2021-10-09|2021-10-11|
|Quin|          M|  29|    71|   176|  2021-10-09|2021-10-11|
|Ruth|          F|  28|    65|   131|  2021-10-09|2021-10-11|
+----+-----------+----+------+------+------------+----------+

In [60]:
df2.select(F.datediff(df2.next_date, df2.current_date).alias('date_diff')).show()

+---------+
|date_diff|
+---------+
|        2|
|        2|
|        2|
|        2|
|        2|
|        2|
|        2|
|        2|
|        2|
|        2|
|        2|
|        2|
|        2|
|        2|
|        2|
|        2|
|        2|
|        2|
+---------+

In [62]:
df2.select(F.dayofmonth('current_date').alias('day')).show()

+---+
|day|
+---+
|  9|
|  9|
|  9|
|  9|
|  9|
|  9|
|  9|
|  9|
|  9|
|  9|
|  9|
|  9|
|  9|
|  9|
|  9|
|  9|
|  9|
|  9|
+---+

In [65]:
df2.select(F.dayofweek(df2.next_date)).show()

+--------------------+
|dayofweek(next_date)|
+--------------------+
|                   2|
|                   2|
|                   2|
|                   2|
|                   2|
|                   2|
|                   2|
|                   2|
|                   2|
|                   2|
|                   2|
|                   2|
|                   2|
|                   2|
|                   2|
|                   2|
|                   2|
|                   2|
+--------------------+

In [66]:
df2.select(F.dayofyear(df2.next_date)).show()

+--------------------+
|dayofyear(next_date)|
+--------------------+
|                 284|
|                 284|
|                 284|
|                 284|
|                 284|
|                 284|
|                 284|
|                 284|
|                 284|
|                 284|
|                 284|
|                 284|
|                 284|
|                 284|
|                 284|
|                 284|
|                 284|
|                 284|
+--------------------+

In [69]:
#last_day:Returns the last day of the month which the given date belongs to.

In [68]:
df2.select(F.last_day(df2.current_date).alias('date')).show()

+----------+
|      date|
+----------+
|2021-10-31|
|2021-10-31|
|2021-10-31|
|2021-10-31|
|2021-10-31|
|2021-10-31|
|2021-10-31|
|2021-10-31|
|2021-10-31|
|2021-10-31|
|2021-10-31|
|2021-10-31|
|2021-10-31|
|2021-10-31|
|2021-10-31|
|2021-10-31|
|2021-10-31|
|2021-10-31|
+----------+

In [71]:
df2.select(F.month('current_date').alias('month')).show()

+-----+
|month|
+-----+
|   10|
|   10|
|   10|
|   10|
|   10|
|   10|
|   10|
|   10|
|   10|
|   10|
|   10|
|   10|
|   10|
|   10|
|   10|
|   10|
|   10|
|   10|
+-----+

In [73]:
df2.show()

+----+-----------+----+------+------+------------+----------+
|Name|     Gender| Age|Height|Weight|current_date| next_date|
+----+-----------+----+------+------+------------+----------+
|Alex|          M|  41|    74|   170|  2021-10-09|2021-10-11|
|Bert|          M|  42|    68|   166|  2021-10-09|2021-10-11|
|Carl|          M|  32|    70|   155|  2021-10-09|2021-10-11|
|Dave|          M|  39|    72|   167|  2021-10-09|2021-10-11|
|Elly|          F|  30|    66|   124|  2021-10-09|2021-10-11|
|Fran|          F|  33|    66|   115|  2021-10-09|2021-10-11|
|Gwen|          F|  26|    64|   121|  2021-10-09|2021-10-11|
|Hank|          M|  30|    71|   158|  2021-10-09|2021-10-11|
|Ivan|          M|  53|    72|   175|  2021-10-09|2021-10-11|
|Jake|          M|  32|    69|   143|  2021-10-09|2021-10-11|
|Kate|          F|  47|    69|   139|  2021-10-09|2021-10-11|
|Luke|          M|  34|    72|   163|  2021-10-09|2021-10-11|
|Myra|          F|  23|    62|    98|  2021-10-09|2021-10-11|
|Neil|          M|  36|    75|   160|  2021-10-09|2021-10-11|
|Omar|          M|  38|    70|   145|  2021-10-09|2021-10-11|
|Page|          F|  31|    67|   135|  2021-10-09|2021-10-11|
|Quin|          M|  29|    71|   176|  2021-10-09|2021-10-11|
|Ruth|          F|  28|    65|   131|  2021-10-09|2021-10-11|
+----+-----------+----+------+------+------------+----------+

In [72]:
#monthsbetween

In [76]:
df2.select(F.months_between(df2.next_date, df2.current_date).alias('months')).show()

+----------+
|    months|
+----------+
|0.06451613|
|0.06451613|
|0.06451613|
|0.06451613|
|0.06451613|
|0.06451613|
|0.06451613|
|0.06451613|
|0.06451613|
|0.06451613|
|0.06451613|
|0.06451613|
|0.06451613|
|0.06451613|
|0.06451613|
|0.06451613|
|0.06451613|
|0.06451613|
+----------+