**PySpark Window function** performs statistical operations such as rank, row number, etc. on a group, frame, or collection of rows and returns results for each row individually

In [0]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql import Window
import pyspark.sql.types as T

In [0]:
spark=SparkSession.builder.getOrCreate()

In [0]:
df=spark.read.csv('/FileStore/tables/emp_data.csv',inferSchema=True,header=True)

In [0]:
df.show()

+----+--------+--------+
|year|    dept|  salary|
+----+--------+--------+
|2004|      IT|    2004|
|2004|      IT|62022432|
|2004|Accounts| 4409580|
|2004|      HR|  211648|
|2004|   Sales|  902053|
|2004|      IT| 1005417|
|2004|Accounts|    3645|
|2005|      IT| 2974005|
|2005|      IT|62275153|
|2005|Accounts| 4239440|
|2005|      HR|  114120|
|2005|   Sales| 1215112|
|2005|      IT|  773217|
|2005|Accounts|    3101|
|2006|      IT| 3285138|
|2006|      IT|65932248|
|2006|Accounts| 4259693|
|2006|      HR|   67236|
|2006|   Sales|  836424|
|2006|      IT| 1095922|
+----+--------+--------+
only showing top 20 rows

In [0]:
windowSpec=Window.partitionBy("dept")

data=df.withColumn("list_Salary",F.collect_list(F.col("salary")).over(windowSpec))\
.withColumn("AVF_Salary",F.avg(F.col("salary")).over(windowSpec))\
.withColumn("Total_Salary",F.sum(F.col("salary")).over(windowSpec))

it acts same like groupby but it will show result for each row in a dataframa but groupby shows result for only the matching column condition

In [0]:
data.show()

+----+--------+-------+--------------------+-----------------+------------+
|year|    dept| salary|         list_Salary|       AVF_Salary|Total_Salary|
+----+--------+-------+--------------------+-----------------+------------+
|2004|Accounts|4409580|[4409580, 3645, 4...|3420612.088235294|   116300811|
|2004|Accounts|   3645|[4409580, 3645, 4...|3420612.088235294|   116300811|
|2005|Accounts|4239440|[4409580, 3645, 4...|3420612.088235294|   116300811|
|2005|Accounts|   3101|[4409580, 3645, 4...|3420612.088235294|   116300811|
|2006|Accounts|4259693|[4409580, 3645, 4...|3420612.088235294|   116300811|
|2006|Accounts|   3642|[4409580, 3645, 4...|3420612.088235294|   116300811|
|2007|Accounts|4934380|[4409580, 3645, 4...|3420612.088235294|   116300811|
|2007|Accounts|   3419|[4409580, 3645, 4...|3420612.088235294|   116300811|
|2008|Accounts|6265959|[4409580, 3645, 4...|3420612.088235294|   116300811|
|2008|Accounts|   5221|[4409580, 3645, 4...|3420612.088235294|   116300811|
|2009|Accounts|6220967|[4409580, 3645, 4...|3420612.088235294|   116300811|
|2009|Accounts|   5024|[4409580, 3645, 4...|3420612.088235294|   116300811|
|2010|Accounts|6484685|[4409580, 3645, 4...|3420612.088235294|   116300811|
|2010|Accounts|   5281|[4409580, 3645, 4...|3420612.088235294|   116300811|
|2011|Accounts|7288419|[4409580, 3645, 4...|3420612.088235294|   116300811|
|2011|Accounts|   5618|[4409580, 3645, 4...|3420612.088235294|   116300811|
|2012|Accounts|7509088|[4409580, 3645, 4...|3420612.088235294|   116300811|
|2012|Accounts|   5524|[4409580, 3645, 4...|3420612.088235294|   116300811|
|2013|Accounts|7721924|[4409580, 3645, 4...|3420612.088235294|   116300811|
|2013|Accounts|   6459|[4409580, 3645, 4...|3420612.088235294|   116300811|
+----+--------+-------+--------------------+-----------------+------------+
only showing top 20 rows