# Window Function (PySpark)

In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql import Window

In [2]:
spark = SparkSession.builder.getOrCreate()

In [3]:
df = spark.read.csv("emp.csv", inferSchema=True,
                   header=True)

In [4]:
df.show()

+----+--------+--------+
|year|    dept|  salary|
+----+--------+--------+
|2004|      IT| 3324172|
|2004|      IT| 3324172|
|2004|Accounts| 4409580|
|2004|      HR|  211648|
|2004|   Sales|  902053|
|2004|      IT| 1005417|
|2004|Accounts|    3645|
|2005|      IT| 2974005|
|2005|      IT| 2974005|
|2005|Accounts| 4239440|
|2005|      HR|  114120|
|2005|   Sales| 1215112|
|2005|      IT|  773217|
|2005|Accounts|    3101|
|2006|      IT| 3285138|
|2006|      IT|65932248|
|2006|Accounts|    3642|
|2006|      HR|   67236|
|2006|   Sales|  836424|
|2006|      IT| 1095922|
+----+--------+--------+
only showing top 20 rows

In [8]:
windowSpec  = Window.partitionBy("dept").orderBy("salary")

In [9]:
df.withColumn("cume_dist",F.cume_dist().over(windowSpec)) \
   .show()

+----+-----+-------+-------------------+
|year| dept| salary|          cume_dist|
+----+-----+-------+-------------------+
|2015|Sales| 164874|0.11764705882352941|
|2016|Sales| 164874|0.11764705882352941|
|2014|Sales| 170952|0.17647058823529413|
|2019|Sales| 192922|0.29411764705882354|
|2020|Sales| 192922|0.29411764705882354|
|2018|Sales| 196338|0.35294117647058826|
|2017|Sales| 203907| 0.4117647058823529|
|2010|Sales| 211866|0.47058823529411764|
|2013|Sales| 217037| 0.5294117647058824|
|2012|Sales| 257114| 0.5882352941176471|
|2011|Sales| 285572| 0.6470588235294118|
|2007|Sales| 772173| 0.8235294117647058|
|2008|Sales| 772173| 0.8235294117647058|
|2009|Sales| 772173| 0.8235294117647058|
|2006|Sales| 836424| 0.8823529411764706|
|2004|Sales| 902053| 0.9411764705882353|
|2005|Sales|1215112|                1.0|
|2017|   HR|  51834|0.11764705882352941|
|2018|   HR|  51834|0.11764705882352941|
|2020|   HR|  53407|0.17647058823529413|
+----+-----+-------+-------------------+
only showing top 20 rows

In [22]:
df.withColumn("lag",F.lag("salary",1).over(windowSpec)) \
      .show()

+----+-----+-------+------+
|year| dept| salary|   lag|
+----+-----+-------+------+
|2015|Sales| 164874|  null|
|2016|Sales| 164874|164874|
|2014|Sales| 170952|164874|
|2019|Sales| 192922|170952|
|2020|Sales| 192922|192922|
|2018|Sales| 196338|192922|
|2017|Sales| 203907|196338|
|2010|Sales| 211866|203907|
|2013|Sales| 217037|211866|
|2012|Sales| 257114|217037|
|2011|Sales| 285572|257114|
|2007|Sales| 772173|285572|
|2008|Sales| 772173|772173|
|2009|Sales| 772173|772173|
|2006|Sales| 836424|772173|
|2004|Sales| 902053|836424|
|2005|Sales|1215112|902053|
|2017|   HR|  51834|  null|
|2018|   HR|  51834| 51834|
|2020|   HR|  53407| 51834|
+----+-----+-------+------+
only showing top 20 rows

In [19]:
df.withColumn("lead",F.lead("salary",1).over(windowSpec)) \
    .show()

+----+-----+-------+-------+
|year| dept| salary|   lead|
+----+-----+-------+-------+
|2015|Sales| 164874| 164874|
|2016|Sales| 164874| 170952|
|2014|Sales| 170952| 192922|
|2019|Sales| 192922| 192922|
|2020|Sales| 192922| 196338|
|2018|Sales| 196338| 203907|
|2017|Sales| 203907| 211866|
|2010|Sales| 211866| 217037|
|2013|Sales| 217037| 257114|
|2012|Sales| 257114| 285572|
|2011|Sales| 285572| 772173|
|2007|Sales| 772173| 772173|
|2008|Sales| 772173| 772173|
|2009|Sales| 772173| 836424|
|2006|Sales| 836424| 902053|
|2004|Sales| 902053|1215112|
|2005|Sales|1215112|   null|
|2017|   HR|  51834|  51834|
|2018|   HR|  51834|  53407|
|2020|   HR|  53407|  58842|
+----+-----+-------+-------+
only showing top 20 rows